/* Write your CSS here */

.nav-light {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #dcdcdc;
  padding-left: 80px;
  padding-right: 80px;
}
.background-dark {
  background-color: #1e293b;
}

.logo {
  height: 40px;
  width: 40px;
}
.nav-container-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.item {
  list-style-type: none;
  margin: 20px;
}

.link-item {
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;
}
.themeChange-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.changeTheme-logo {
  width: 40px;
  height: 40px;
}
.dark {
  color: #ffffff;
}
.light {
  color: #1e293b;
}

@media screen and (max-width: 767px) {
  .item {
    margin: 5px;
  }
  .logo {
    height: 30px;
    width: 30px;
  }
  .nav-light {
    padding-left: 20px;
    padding-right: 20px;
  }
  .link-item {
    font-size: 15px;
    font-weight: none;
  }
}
